profile = compact
break-collection-expressions = fit-or-vertical
break-infix = fit-or-vertical
break-struct = force
cases-exp-indent = 2
field-space = loose
if-then-else = keyword-first
indicate-multiline-delimiters = no
indicate-nested-or-patterns = unsafe-no
let-and = sparse
sequence-style = terminator
type-decl = sparse
